h1 {
  color: purple;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

li {
  line-height: normal;
  font-size: medium;
}